<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
</head>

<body>
    <h1>Ryan Maher</h1>
    <img src="../static/images/1737144139553.jpg" height="200" />
    <h2> Summary</h2>
    <p>Summary of qualifications and experience</p>

    <hr>
    <h2> Education </h2>

    <p>Master of Science in Computer Science</p>
    <p>University of Example</p>
    <p>2015 - 2017</p>
    <hr>
    <h2> Work Experience </h2>
    <h3>City of San Jose</h3>
    <h4>Senior Analyst - Strategic Procurement and Contract Management</h4>
    <p>Mar 2020 - Present · 5 yrs 9 mos</p>
    <p>Responsible for leading strategic procurement initiatives and contract management, including the development and
        execution of procurement solicitations, contract drafting and negotiation, and overseeing contract amendments
        and change orders. Plays a pivotal role in council memos preparation, handling public record act request
        responses, and supervising team members on similar tasks. Demonstrates expertise in managing high-value RFPs,
        RFBs, and RFQs from scope development to solicitation, proposal evaluation, and final vendor selection.</p>
    <h5>Accomplishments: </h5>
    <ul>
        <li>Led a procurement to replace the City’s Multifunctional Devices and printers, which is estimated to save the
            City approximately $500,000 per year.</li>
        <li>Identified and corrected several contractual and billing errors in agreements, preventing the City from
            being overcharged for services.</li>
        <li>Successfully developed and completed a multi-package procurement for citywide security guard services,
            resulting in 5 new agreements with improved services and savings over previous agreements.</li>
        <li>Prevented an out-of-scope purchase by a City department, leading to a $30,000 saving through a brand name
            determination approved by the City's Chief Purchasing Officer and direct contracting with a new vendor.</li>
        <li>Regularly negotiated option pricing with vendors during option periods, effectively preventing price
            increases beyond 3%, ensuring cost-effectiveness and budget adherence for the City.</li>
    </ul>
    <h4>Analyst I/II</h4>
    <p>Responsible for the City's subrogation processes including obtaining documentation, invoicing, and tracking
        subrogation cases. Successfully updated processes to track subrogation cases providing a more accurate
        accounting of pending and completed cases.</p>
    <h5>Accomplishments:</h5>
    <ul>
        <li>Created new processes to identify potential subrogation cases, analyze financial impact of subrogation to
            the city, analyze workload, and ensure transparency of workflow for the subrogation desk within the city's
            Risk Management division of the Finance department.</li>
        <li>Improved inter-departmental processes and communications to develop a more effective workflow</li>
        <li>Reviewed over 300 subrogation cases and invoiced over $150,000 of recoverable damage to city property.</li>
    </ul>
    <hr>
    <h2> Skills </h2>
    <p> Excel (Advanced user: vlookups, Macros, Pivot Tables, Power Query, Conditional Formatting, etc.), SQL, Python,
        Microsoft Access, QuickBooks, FMS (Calyenta), Adobe Acrobat, Microsoft365 (SharePoint, Teams, PowerPoint, etc.),
        Google Drive, Salesforce, Project Management Tools (Microsoft Project, Planner), Data Analysis Tools (Tableau,
        Power BI), E-Procurement Systems.</p>

    <footer>
        <p>Copyright © 2025</p>
    </footer>
</body>

</html>